@media (max-width: 767px) {
  .main-header__logo-wrapper--inner {
    height: 160px;
  }
  .main-header__logo-image--inner {
    top: 52px;
    margin-left: -114.5px;
  }
  .main-header__logo-image--inner img {
    width: 229px;
    height: 39px;
  }
}
@media (min-width: 768px) {
  .main-header__logo-wrapper--inner {
    position: relative;
    height: 346px;
    background-size: contain, cover;
  }
  .main-header__logo-image--inner {
    top: 95px;
    margin-left: -230px;
  }
  .main-header__logo-image--inner img {
    width: 458px;
    height: 78px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
.main-header__logo-wrapper--inner {
  height: 301px;
}
}
